:root {
  --primary-bg-color: #1e1e1e;
  --secondary-bg-color: #282828;
  --primary-color: #ffffff;
  --primary-font: Arial, sans-serif;
}

html,
body {
  overflow-x: hidden;
  background-color: var(--primary-bg-color);
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container#primary {
  display: block;
}

.container#secondary {
  display: none;
}

.header,
.footer {
  background-color: var(--secondary-bg-color);
  color: var(--primary-color);
  padding: 20px;
  width: 100%;
  height: auto;
}

.header {
  position: relative;
}

.header h1,
.footer p {
  margin: auto;
  text-align: center;
}

.h-layout {
  display: flex;
  align-items: center;
}

.h-layout#primary {
  margin-top: 0px;
  justify-content: center;
}

.h-layout#secondary {
  margin-top: 20px;
  justify-content: space-around;
}

.tool-item {
  text-align: center;
}

.tool-image {
  width: 100px;
  height: 100px;
}

.tool-title {
  color: var(--primary-color);
  margin-top: 10px;
  font-size: 16px;
}

.v-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.terminal {
  background-color: #000000;
  padding: 20px;
  margin-top: 20px;
  width: 50%;
}

.return-button-image {
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  left: 20px;
}

.return-button-image:hover {
  filter: brightness(0) saturate(100%) invert(27%) sepia(43%) saturate(4094%)
    hue-rotate(204deg) brightness(99%) contrast(91%);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
