html,
body {
  overflow-x: hidden;
  background-color: var(--vscode-editor-background);
  margin: 0;
  padding: 0;
  font-family: var(--vscode-editor-font-family);
  font-weight: var(--vscode-editor-font-weight);
  font-size: var(--vscode-editor-font-size);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container#primary {
  display: block;
}

.header,
.footer {
  background-color: var(--vscode-editor-lineHighlightBackground);
  color: var(--vscode-editor-foreground);
  padding: 20px;
  width: 100%;
  height: auto;
}

.header {
  position: relative;
}

.header h1,
.footer p {
  margin: auto;
  text-align: center;
}

.h-layout {
  display: flex;
  align-items: center;
}

.h-layout#primary {
  margin-top: 0px;
  justify-content: center;
}

.h-layout#secondary {
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-around;
}

.tool-item {
  flex: 1 0 100px;
  text-align: center;
  cursor: pointer;
}

.tool-image {
  width: 100px;
  height: 100px;
}

.tool-title {
  color: var(--vscode-editor-foreground);
  margin-top: 10px;
  font-size: 16px;
}

.v-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
